/* TourTypeCard.css */

.tour-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    margin: 10px;
  }
  
  .icon-container {
    background-color: #fcd307; /* Yellow background */
    border-radius: 50%;
    padding: 10px;
  }
  
  .icon {
    width: 50px;
    height: 50px;
    object-fit: cover;
  }
  
  .content {
    text-align: center;
  }
  
  .tour-name {
    font-size: 1.2rem;
    margin: 8px 0;
    font-weight: 600;
  }
  
  .tour-hours {
    color: #777;
  }
  


  /* 1st Mobile device */
@media screen and (max-width:576px) {
  .tour-card {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: auto;
  }
}

/* 2nd Mobile device */
@media screen and (min-width:360px) and (max-width:575px){


}


/*1st tab device */
@media screen and (min-width:577px) and (max-width: 992px) {
 
}

/*2nd tab device */
@media screen and (min-width:768px) and (max-width: 1180px) {
 
}
